/* relative styles - this works in accordance with its original position and positioning is done left, top, bottom or right 
   in order to make the element move from its original place */

#position {
    width: 100px;
    height:100px;
    border: none;
    display: inline-block;
    margin-left: 15px;
}


.blue {
  background-color: blue;
  position: relative;
  left: 210px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
  position: relative;
  right: 230px;
} 

div {
    background-color: lime;
    width: 250px;
    height: 250px;
    padding: 50px;
    
}

/* 1) css tip: For instance, in a web page, if we have 3 div boxes and the second box is to be given some alignment or spacing,
   then you need to calculate the width of either the first or the third box. This you can achieve through box model concept.
   Formula: Width of the box + padding values from left and right sides + border value from both sides
   2) class selectors have css precedence or higher priority over type selectors */

/* absolute styles - this works in accordance with its parent element and positioning is done left, top, bottom or right accordingly.
   It has to be made sure that the parent element should be made relative position */

.box-container {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: gray;
}

.box1 {
    position: absolute;
    background-color: red;
    height: 50px;
    width: 50px;
    top: 0;
    left: 0;
}
.box2 {
  position: absolute;
  background-color: blue;
  height: 50px;
  width: 50px;
  right: 0;
  top: 0;
}

.box3 {
    position: absolute;
    background-color: green;
    height: 50px;
    width: 50px;
    left: 0;
    bottom: 0;
}

.box4 {
    position: absolute;
    background-color: brown;
    height: 50px;
    width: 50px;
    right: 0;
    bottom: 0;
}


/* In display: none, the html element or tag is not shown, like almost gone from the web page, but in visibility hidden, the html element or tag appears to be 
visible inside the HTML DOM but its info is not shown on the web page */

