body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: thistle;
    
}

.logo-section {
    float: left;
}

.menu-section {
    float: right;
    margin: 15px 0 0 0;
}

.menu-section li {
    display: inline;
    padding: 5px;
}

.clearfix {
    clear: both;
}

.sectionOne {
    width: 50%;
    float: left;
}
